.tarifs {
    /* margin: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.telegram {
    margin: 10px;
    border: 1px;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, rgb(249, 214, 12), rgb(221, 70, 6));
    color: aliceblue;

}

.jet {
    margin: 10px;
    border: 1px;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, rgb(214, 76, 182), rgb(106, 5, 106));
    color: aliceblue;

}

.rocket {
    margin: 10px;
    border: 1px;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, rgb(36, 158, 239), rgb(155, 101, 205));
    color: aliceblue;

}

.img-telegram {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    position: relative;
    left: 5px;
    top: 8px;
}

.img-jet {
    width: 40px;
    height: 35px;
    margin-bottom: 5px;
    position: relative;
    left: 5px;
    top: 8px;
}


.img-rocket {
    width: 40px;
    height: 35px;
    margin-bottom: 5px;
    position: relative;
    left: 5px;
    top: 8px;
}

.icon {
    border: 1px solid;
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-bottom: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h4 {
    font-weight: lighter;
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    left: 13px;
    bottom: 13px;
}

li {
    padding: 5px 0 5px 35px;
    position: relative;
    font-size: 14px;

}


.mark {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 8px;
}



span {
    font-size: 25px;
    position: relative;
    bottom: 14px;
}

.buttonfirst {
    /* color: rgb(247, 247, 247); */
    background: linear-gradient(to left, #007991,#78ffd6 ,#007991);
    text-decoration: none;
    background-size: 200%    ;
    transition: .5s;
    width: 150px;
    height: 30px;
    padding: 0;
    border-radius: 15px;
    border: 10px;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
}
.buttonfirst:hover{
    background-position: right;
}

.buttonfirst:focus {
    outline: none;
}